<div class="container mt-4">

    <h2><strong>会員情報編集</strong></h2>
    
    <% if @customer.errors.any? %>
        <%= @customer.errors.count %>件のエラーが発生しました
        <ul>
            <%= @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    
    
    <%= form_with(model: @customer, url: customers_information_path, method: :PATCH) do |f| %>
        <div class="row form-group mt-4">
            <%= f.label :name, '氏名', class: 'col-md-2' %>
            <%= f.text_field :first_name, class: 'col-md-2' %>
            <%= f.text_field :last_name, class: 'col-md-2 ml-4' %>
        </div>
        <div class="row form-group">
            <%= f.label :kana, 'フリガナ', class: 'col-md-2' %>
            <%= f.text_field :first_name_kana, class: 'col-md-2' %>
            <%= f.text_field :last_name_kana, class: 'col-md-2 ml-4' %>
        </div>
        <div class="row form-group">
            <%= f.label :postal_code, '郵便番号', class: 'col-md-2' %>
            <%= f.text_field :postal_code, class: 'col-md-2' %>
        </div>
        <div class="row form-group">
            <%= f.label :address, '住所', class: 'col-md-2' %>
            <%= f.text_field :address, class: 'col-md-6' %>
        </div>
        <div class="row form-group">
            <%= f.label :telephone_number, '電話番号', class: 'col-md-2' %>
            <%= f.text_field :telephone_number, class: 'col-md-2' %>
        </div>
        <div class="row form-group">
            <%= f.label :email, 'メールアドレス', class: 'col-md-2' %>
            <%= f.text_field :email, class: 'col-md-3' %>
        </div>
        <div class="row form-group">
            <%= f.submit "編集内容を保存", class: "btn btn-success offset-md-2 col-md-3" %>
            <%= link_to "退会する", customers_quit_path, class: "btn btn-danger offset-md-1 col-md-2" %>
        </div>
    <% end %>

</div>