<h2>会員情報編集</h2>

<%= form_with(model: @customer, url: customers_information_path, method: :PATCH) do |f| %>
    <div class="field">
        <%= f.label :name, '氏名' %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
    </div>
    <div class="field">
        <%= f.label :kana, 'フリガナ' %>
        <%= f.text_field :first_name_kana %>
        <%= f.text_field :last_name_kana %>
    </div>
    <div class="field">
        <%= f.label :postal_code, '郵便番号' %>
        <%= f.text_field :postal_code %>
    </div>
    <div class="field">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address %>
    </div>
    <div class="field">
        <%= f.label :telephone_number %>
        <%= f.text_field :telephone_number %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to "退会する", customers_quit_path, class: "btn btn-danger" %>
<% end %>

