<div class="container mt-4">
    <h2>マイページ</h2>
    
    <%= flash[:notice] %>
    
    <div class="row mt-4">
        <h3><strong>登録情報</strong></h3>
        <%= link_to "編集する", customers_information_edit_path, class: 'btn btn-success ml-4 px-4'%>
    </div>
    
    <div class="row">
    <table class="table table-bordered mt-2 col-md-8">
        <tbody>
            <tr>
                <th class="bg-secondary text-light">氏名</th>
                <td><%= (@customer.first_name + @customer.last_name) %></td>
            </tr>
            <tr>
                <th class="bg-secondary text-light">カナ</th>
                <td><%= (@customer.first_name_kana + @customer.last_name_kana) %></td>
            </tr>
            <tr>
                <th class="bg-secondary text-light">郵便番号</th>
                <td><%= @customer.postal_code %></td>
            </tr>
            <tr>
                <th class="bg-secondary text-light">住所</th>
                <td><%= @customer.address %></td>
            </tr>
            <tr>
                <th class="bg-secondary text-light">電話番号</th>
                <td><%= @customer.telephone_number %></td>
            </tr>
            <tr>
                <th class="bg-secondary text-light">メールアドレス</th>
                <td><%= @customer.email %></td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div class="row mt-4">
        <h3><strong>注文履歴</strong></h3>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary ml-4 px-4" %>
    </div>
</div>