<h2>商品編集</h2>

<%= form_with model: @item, url: admin_item_path(@item.id), method: :PATCH do |f| %>
   <div class="field">
    <%= f.label :image, '商品画像' %>
    <%= f.file_field :image, accept: "image/*" %>
   </div>
   <div class="field">
    <%= f.label :name, '商品名' %>
    <%= f.text_field :name %>
   </div>
   <div class="field">
    <%= f.label :introduction, '商品説明' %>
    <%= f.text_field :introduction %>
   </div>
   <div class="field">
    <%= f.label :price, '税抜価格' %>
    <%= f.text_field :price %>円
   </div>
    <%= f.submit '変更を保存', class: 'btn btn-success' %>
<% end %>