<h2>商品新規登録</h2>

<%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="field">
        <%= f.label :image, '商品画像' %>
        <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="field">
        <%= f.label :name, '商品名' %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :introduction, '商品説明' %>
        <%= f.text_field :introduction %>
    </div>
    <div class="field">
        <%= f.label :price, '税抜価格' %>
        <%= f.text_field :price %>円
    </div>
    <%= f.submit '新規登録', class: "btn btn-success" %>
<% end %>