<%= flash[:notice] %>

<div>
    <div>
        <div>
            <p>ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。</p>
        </div>
        
    <div>
        <h1>新着商品</h1>
    </div>
    <div>
        <% @items.each do |item| %>
            <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(150, 100) %>
            <% end %>
            <%= item.name %>
            ¥<%= item.price %>
        <% end %>
    </div>
    <div>
        <%= link_to items_path do %>
         <p>全ての商品を見る></p>
        <% end %>
    </div>
    </div>
</div>