
<div>
    <h2><%= (@customer.first_name + @customer.last_name) %>さんの会員情報編集</h2>
</div>

<div>
    <%= form_with(model: @customer, url: admin_customer_path, method: :PATCH) do |f| %>
        <div class="field">
            <%= f.label :id, '会員ID' %> 
            <%= f.label :id, '#{@customer.id}' %>
        </div>
        <div class="field">
            <%= f.label :name, '氏名' %>
            <%= f.text_field :first_name %>
            <%= f.text_field :last_name %>
        </div>
        <div class="field">
            <%= f.label :kana, 'フリガナ' %>
            <%= f.text_field :first_name_kana %>
            <%= f.text_field :last_name_kana %>
        </div>
        <div class="field">
            <%= f.label :postal_code, '郵便番号' %>
            <%= f.text_field :postal_code %>
        </div>
        <div class="field">
            <%= f.label :address, '住所' %>
            <%= f.text_field :address %>
        </div>
        <div class="field">
            <%= f.label :telephone_number, '電話番号' %>
            <%= f.text_field :telephone_number %>
        </div>
        <div class="field">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email %>
        </div>
            <%= f.submit '変更を保存', class: 'btn btn-success' %>
    <% end %>
</div>