<%= flash[:success] %>

<div>
    <h2><%= (@customer.first_name+@customer.last_name) %>さんの会員詳細</h2>
</div>

<div>
    <p>
        <strong>会員ID</strong>
        <%= @customer.id %>
    </p>
    <p>
        <strong>氏名</strong>
        <%= (@customer.first_name+@customer.last_name) %>
    </p>
   
    <p>
        <strong>フリガナ</strong>
        <%= (@customer.first_name_kana+@customer.last_name_kana) %>
    </p>
    
    <p>
        <strong>郵便場号</strong>
        <%= @customer.postal_code %>
    </p>
    
    <p>
        <strong>住所</strong>
        <%= @customer.address %>
    </p>
   
    <p>
        <strong>電話番号</strong>
        <%= @customer.telephone_number %>
    </p>
    
    <p>
        <strong>メールアドレス</strong>
        <%= @customer.email %>
    </p>
    
    <%= link_to '編集する', edit_admin_customer_path, class: 'btn btn-success' %>
    
</div>