<div class="container">
    <div class="row">
            <h2>ショッピングカート</h2>
            
            <div class="text-right">
                <%= link_to cart_items_destroy_all_path, method: :delete do %>
                    <button class="btn btn-danger">カートを空にする</button>
                <% end %>
            </div><!--カート空にする--->
             
            <table class="table">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込)</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                 <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= image_tag cart_item.item.get_image(120,100) %>
                            <%= cart_item.item.name %>
                        </td>
                        <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
                        <td>
                            <%= form_with model: cart_item, url: cart_item_path(cart_item) do |f| %>
                                <%= f.hidden_field :cart_item_id, :value => cart_item.id %>
                                <%= f.select :amount, *[1..10] %><%= f.submit '変更', class: 'btn btn-success' %>
                            <% end %>
                        </td>
                        <td><%= cart_item.subtotal.to_s(:delimited) %></td>
                        <td>
                            <%= link_to cart_item_path(cart_item), method: :delete do %>
                                <button class="btn btn-danger">削除</button>
                            <% end %>
                        </td>
                    </tr>
                 <% end %>
                </tbody>
            </table>
                    
          <div class="row">
            
            <div class="col-xs-4">
                <%= link_to items_path do %>
                    <button class="btn btn-primary">買い物を続ける</button>
                <% end %>
            </div><!--買い物を続ける--->
            
            <div class="col-xs-4"></div>
            
            <div class="col-xs-4">
                <table class="table">
                    <tr>
                     <th>合計金額</th>
                     <td><%= @total_price.to_s(:delimited) %></td>
                    </tr>
                </table>
            </div><!---合計金額--->
            
            <div class="text-center">
                <% if current_customer.cart_items.any? %>
                
                    <%= link_to about_path do %>
                        <button class="btn btn-success">情報入力に進む</button>
                    <% end %>
                    
                <% end %>
            </div><!---情報入力------>
        
         </div><!----row---->
         
    </div>
</div>