<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9 col-sm-10 mx-5 mx-sm-auto mt-5">
      
       <h2 class="my-3"><strong>ログイン</strong></h2>
       
       <div>
       <%= flash[:notice] %>
       </div>
       
       <h3 class="col-md-8 mt-4 mb-3">会員の方はこちらからログイン</h3>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row form-group offset-md-1">
                <%= f.label :email, 'メールアドレス', class: 'col-md-3 col-sm-6' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@gmail.com', class: 'col-md-8 col-sm-4 offset-md-1'%>
              </div>
            
              <div class="row form-group offset-md-1">
                <%= f.label :password, 'パスワード', class: 'col-md-3 col-sm-6' %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'col-md-8 col-sm-4 offset-md-1' %>
              </div>
            
              <div class="row form-group offset-md-1">
                <%= f.submit "ログイン", class: 'btn btn-primary col-md-2 col-sm-2 offset-md-4' %>
              </div>
            <% end %>
            
            
            <h3 class="col-md-8 mt-5">会員登録がお済みでない方</h3>
            <p class="col offset-3">
            <%= link_to new_customer_registration_path do %>
            こちら
            <% end %>
            から新規登録を行ってください。
            </p>
    </div>
  </div>
</div>