<div>
    <h2><strong>商品一覧</strong></h2>
    <h5>(全<%= @items.count %>件)</h5>
</div>

<div>
    <% @items.each do |item| %>
    <div>
        <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200, 140) %>
        <% end %>
        <%= item.name %>
        ¥<%= item.price.to_s(:delimited) %>
    </div>
    <% end %>
</div>

<%= paginate @items %>